<p>Your login user name will be highlighted in the user list.</p>

<p>The active channel will be highlighted in the channel list.</p>

<p>After you type a message, it will be sent to the server when you either press the ENTER key or click the 'send' button.</p>

<p>You can switch channels by clicking on it in the channel list.</p>

<p>You can register a new channel by clicking the 'New Channel' button, entering a channel name and clicking the 'Register' button. You will then switch to the new channel automatically. If the channel already exists, you will switch to the existing channel.</p>

<p>Channel names can only contain alphanumeric characters and the following special characters: _#.*@[](){}</p>

<p>You can change the width of the channel and user lists by dragging the splitters.</p>

<p>If you type the beginning of one of the listed user names and then press the TAB key, the name will autocomplete.</p>

<p>If your user name is highlighted in a message, a ding sound will be played.</p>

<p>If you scroll to the bottom of the message scroll box, when new messages are received the vertical scrollbar will anchor to the bottom to ensure you can read the latest message. If you manually scroll up away from the bottom, it will not anchor any longer. You can enable the scroll anchor by manually scrolling down to the bottom.</p>

<p>A border will be shown at the bottom of the messages loaded at the beginning of the current session. This border will move ahead if you refresh the page in your browser, but won't change when you send or receive new messages.</p>

<p>A small 'updating' status caption will appear whenever the server is being polled for new messages or if you send a message. The polling frequency is configured as a server setting.</p>

<p>Commands:<br>
/topic &lt;new topic&gt;<br>
/rename &lt;new_channel_name&gt;<br>
/join &lt;channel_name&gt; [&lt;channel topic&gt;]</p>
