<div id="ajax_url_update" style="display: none;">$$app_web_index$$?cmd=update</div>
<div id="ajax_url_register_channel" style="display: none;">$$app_web_index$$?cmd=register_channel</div>
<div id="url_channel" style="display: none;">@@channel_url@@</div>
<div id="update_interval_seconds" style="display: none;">$$update_interval_seconds$$</div>

<div id="new_channel_dialog_background">
  <div id="new_channel_dialog">
    <div id="new_channel_content">
      <div id="new_channel_title">Register New Channel</div>
      <table>
        <tr><td>Name</td><td><input id="new_channel_name_input" type="text" value=""></td></tr>
        <tr><td>Topic (optional)</td><td><input id="new_channel_topic_input" type="text" value=""></td></tr>
      </table>
      <div id="new_channel_controls">
        <input id="new_channel_button" type="button" value="Register" onclick="new_channel(); return false;">
        <input id="hide_new_channel_button" type="button" value="Cancel" onclick="hide_new_channel_dialog(); return false;">
      </div>
    </div>
  </div>
</div>

<div id="help_dialog_background">
  <div id="help_dialog">
    <div id="help_title">Messenger Help</div>
    <div id="help_scroll">
      <div id="help_content">
        @@help_content@@
      </div>
    </div>
    <input id="help_close_button" type="button" value="Close" onclick="hide_help_dialog(); return false;">
  </div>
</div>

<div id="left_panel">
  <div class="logo_outer"><img class="logo_img" src="$$logo_resource_file$$" alt=""></div>
  <div id="channels_div">
    %%channels%%
  </div>
</div>

<div id="splitter_left" onmousedown="splitter_left_mousedown(event); return false;"><div class="splitter_highlight"></div></div>

<div id="center_panel">
  <div id="center_upper_panel">
    <div id="channel_info">
      <div>Selected Channel: <span id="channel_name"></span></div>
      <div>Topic: <span id="channel_topic"></span></div>
    </div>
    <div id="control_panel">
      <span id="update_status">updating</span>
      <input type="button" value="New Channel" onclick="show_new_channel_dialog(); return false;">
      <input type="button" value="Help" onclick="show_help_dialog(); return false;">
    </div>
  </div>
  <div id="messages_scroll">
    <div id="messages_content">
      <table id="messages_table">
        <tr>
          <th class="message_th_time">timestamp</th>
          <th class="message_th_nick">nick</th>
          <th class="message_th_message">message</th>
        </tr>
      </table>
    </div>
    <div id="messages_anchor"></div>
  </div>
  <div id="message_inputs">
    <div id="message_input_div">
      <input id="message_input" type="text" value="" onkeydown="return message_input_keydown(event);" disabled>
    </div>
    <div id="message_input_button_div">
      <input id="message_input_button" type="button" value="send" onclick="message_send(); return false;" disabled>
    </div>
  </div>
</div>

<div id="splitter_right" onmousedown="splitter_right_mousedown(event); return false;"><div class="splitter_highlight"></div></div>

<div id="right_panel">
  <div id="users_div">
    %%users%%
  </div>
</div>
