<div id="login_notice">
DEFAULT LOGIN CREDENTIALS<br>
<br>
username: <span class="login_notice_credential">&lt;firstname&gt;.&lt;surname&gt;</span><br>
password: <span class="login_notice_credential">password</span><br>
<br>
If logging in for the first time you will be prompted to change your password.<br>
<br>
If you change your password and it doesn't work, the database may have been reset. Try again with default credentials per above.
</div>


<div id="ua_notice">
WEB BROWSER COMPATIBILITY<br>
<br>
This application does not work with Microsoft Internet Explorer.<br>
<br>
Please use a current version of either Google Chrome or Mozilla Firefox.
</div>