<!DOCTYPE html>
<html>
<head>
  <title>%%page_title%%</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  @@global/favicon@@
  <link rel="stylesheet" type="text/css" href="$$webdb_web_resources$$global.css?mod=%%global_styles_modified%%">
</head>
<body>

<div id="custom_alert_background" style="display: block;">
  <div class="custom_alert_outside">
    <div class="custom_alert_inside">
      <div class="custom_alert">
        <div id="custom_alert_message">%%message%%</div>
        <div><a href="$$app_web_index$$">Home</a></div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
