<!DOCTYPE html>
<html>
<head>
<title>%%page_title%%</title>
 <link rel="stylesheet" type="text/css" href="$$webdb_web_resources$$global.css?mod=%%global_styles_modified%%">
</head>
<body>

<div id="global_page_header">
<div id="global_page_header_content">
<img id="company_logo" src="$$app_web_resources$$logo.jpg" alt="">
</div>
</div>

<div id="global_page_body_outer">
<div id="global_page_body_inner">
<div id="global_page_body_content">
%%body_text%%
</div>
</div>
</div>

<div id="global_page_footer">
<div id="global_page_footer_content">
</div>
</div>

<script type="text/javascript" src="$$webdb_web_resources$$global.js?mod=%%global_script_modified%%"></script>
</body>
</html>
