
/************************************************************************/

#basic_search_form
  {
    padding: 5px;
  }

#basic_search_query
  {
    width: calc(100% - 75px);
  }

#basic_search_button
  {
    width: 60px;
  }

/************************************************************************/
