#calendar_div
  {
    display: none;
    padding: 4px;
    padding-right: 5px;
    position: absolute;
    z-index: 9999;
    background-color: #ffffe6;
    border: 1px black solid;
    -webkit-box-shadow: 10px 10px 33px 1px rgba(0,0,0,0.67);
    -moz-box-shadow: 10px 10px 33px 1px rgba(0,0,0,0.67);
    box-shadow: 10px 10px 33px 1px rgba(0,0,0,0.67);
    width: 296px;
    height: 275px;
    color: #660066;
  }

#calendar_div table
  {
    width: 100%;
    height: 100%;
  }

#calendar_div th
  {
    font-size: 10pt;
    font-weight: bold;
    border: none;
    height: 24px;
    padding: 3px;
  }

#calendar_div thead td
  {
    padding-bottom: 6px;
  }

#calendar_div thead input
  {
    width: 25px;
    height: 22px;
  }

#calendar_div thead select
  {
    height: 22px;
  }

#calendar_div tfoot td
  {
    padding-top: 6px;
  }

#calendar_div tfoot input
  {
    width: 100%;
    height: 22px;
  }

#calendar_div tfoot td.workaround
  {
    font-size: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }

#calendar_div td
  {
    text-align: center;
    font-size: 10pt;
    border: none;
    padding: 3px;
    width: 35px;
  }

#calendar_div tbody td
  {
    border: 1px solid #ffcc99;
    height: 30px;
  }

#calendar_div .dayheading
  {
    border: 1px solid #ffcc99;
    background-color: #ffcc99;
    font-weight: bold;
  }

#calendar_today
  {
    border: 2px solid red !important;
  }

#calendar_selected
  {
    background-color: #ff6666;
    color: white;
    font-weight: bold;
  }

#calendar_selected_today
  {
    border: 2px solid red !important;
    background-color: #ff6666;
    color: white;
    font-weight: bold;
  }
