*
  {
  }

html
  {
    font-size: 10pt;
    font-family: sans-serif;
    border: none;
  }

body
  {
    font-size: 10pt;
    border: none;
    padding: 0;
    margin: 0;
  }

table
  {
    empty-cells: show;
    border-collapse: collapse;
  }

input
  {
    font-size: 10pt;
    background-image: none;
  }

select
  {
    font-size: 10pt;
    background-image: none;
  }

.script_block
  {
    display: none;
  }

.script_inline
  {
    display: none;
  }

form
  {
    display: inline;
  }

img
  {
    border: 0;
  }

th
  {
    font-size: 10pt;
    font-weight: bold;
    border: solid 1px black;
    padding: 5px;
  }

td
  {
    font-size: 10pt;
    border: solid 1px black;
    padding: 5px;
  }

textarea
  {
    width: 250px;
    height: 100px;
    overflow: auto;
  }

.print_only
  {
    display: none;
  }

.vertical_text
  {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
