
body
  {
    background-color: #eeeeee;
    color: #21292c;
  }

th
  {
    font-size: 10pt;
    font-weight: bold;
    padding: 0;
    border: 0;
    margin: 0;
    position: sticky;
    top: 0;
  }

td
  {
    font-size: 10pt;
    border: solid 1px #888;
    padding: 5px;
    min-width: 33px;
  }

textarea
  {
    width: calc(100% - 10px);
  }

.list_field_scroll
  {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-wrap: break-word;
  }

.list_field_content
  {
    padding: 5px;
  }

.list_controls td
  {
    border: 0;
  }

.group_caption_div_first
  {
    position: relative;
    left: 142px;
    top: -1px;
    border: 1px solid #888;
    padding: 3px;
    background-color: rgba(250,250,253,0.75);
  }

.group_caption_div
  {
    position: relative;
    left: 141px;
    top: -1px;
    border: 1px solid #888;
    padding: 3px;
    background-color: rgba(250,250,253,0.75);
  }

th.group_caption_head
  {
    z-index: 1000;
  }

.subform_print_head
  {
    font-weight: bold;
    text-shadow: 0 0 4px #999999;
    font-size: 16px;
  }

.list_row_check
  {
    border: 0;
    min-width: 10px;
  }

.list_row_controls
  {
    border: 0;
    text-align: right;
    padding-right: 0;
  }

.list_row_controls input
  {
    min-width: 70px;
  }

.edit_form_controls
  {
    margin-bottom: 10px;
  }

th.rotate
  {
    height: 165px;
    white-space: nowrap;
    vertical-align: bottom;
    text-align: left;
    background-color: #fafafd;
    opacity: 0.93;
  }

th.list_controls_head
  {
    background-color: #fafafd;
    opacity: 0.93;
  }

td.editor_field_name
  {
    max-width: 400px;
  }

td.editor_title_field
  {
    font-weight: bold;
    font-size: 14px;
    background-color: #f2f2fd;
  }

input.date_edit_field
  {
    width: 75px;
  }

.print_only
  {
    display: none;
  }

.verticaltick_left
  {
    position: relative;
    left: 0px;
    font-size: 1px;
    height: 20px;
    width: 40px;
    border-left: 1px solid #888;
    padding: 0;
    margin: 0;
    bottom: -1px;
  }

.verticaltick_right
  {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 10px;
    z-index: 2000;
    bottom: -1px;
  }

.rotatediv
  {
    transform-origin: left top;
    /*transform: translate(-1px,0px) rotate(315deg);*/
  }

.rotatespan
  {
    padding: 5px;
    padding-top: 2px;
    font-size: 10pt;
    border-top: 1px solid #666;
    width: 190px;
    display: inline-block;
  }

.form_title
  {
    font-weight: bold;
    text-shadow: 0 0 4px #999999;
    font-size: 14px;
  }

.subform_title
  {
    position: absolute;
    font-weight: bold;
    text-shadow: 0 0 4px #999999;
    font-size: 16px;
    right: 30px;
    top: 10px;
    z-index: 9998;
  }

.file_field_value
  {
    color: #0a4b5c;
    font-family: "Courier New", Courier, monospace;
  }

.file_field_controls
  {
    margin-top: 2px;
    margin-bottom: 5px;
  }

.file_field_chooser
  {
  }

#global_page_header
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #eeeeee;
    overflow: hidden;
  }

#global_page_header_content
  {
    text-align: right;
    padding: 15px;
  }

#header_title
  {
    position: absolute;
    left: 15px;
    top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 0 4px #999999;
  }

.confirm_status
  {
    font-weight: bold;
    visibility: hidden;
    padding-top: 5px;
  }

#header_links_bar
  {
    text-align: left;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 12px;
    font-weight: bold;
  }

#header_links_bar ul, li
  {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
  }

#header_links_bar li
  {
    margin-right: 8px;
  }

.links_menu_spacer
  {
    margin-left: 10px;
    margin-right: 10px;
  }

#global_page_body_outer
  {
    position: absolute;
    top: 91px;
    left: 10px;
    right: 10px;
    bottom: 31px;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-top-color: #999999;
    border-left-color: #999999;
    border-bottom-color: #FFFFFF;
    border-right-color: #FFFFFF;
  }

#global_page_body_inner
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafd;
    padding: 0;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-top-color: #555555;
    border-left-color: #555555;
    border-bottom-color: #CCCCCC;
    border-right-color: #CCCCCC;
  }

#global_page_body_content
  {
    padding: 10px;
  }

#global_page_footer
  {
    position: absolute;
    height: 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #eeeeee;
    overflow: hidden;
  }

#global_page_footer_content
  {
    padding: 5px;
    padding-left: 10px;
  }

#company_logo
  {
    height: 45px;
    margin-top: 5px;
  }

#field_table
  {
    float: left;
    padding-bottom: 10px;
  }

#flex_columns
  {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

#editor_pane
  {
    min-width: 650px;
  }

#subforms
  {
    flex-grow: 1;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-width: 65%;
  }

.subform_outer
  {
    position: relative;
    width: calc(100% - 8px);
    padding: 3px;
    overflow: hidden;
    border: solid 1px #999999;
    box-shadow: inset 0 0 3px #444444;
    margin-bottom: 10px;
  }

.subform_inner
  {
    background-color: #fafafd;
    padding: 0;
    margin: 0;
    overflow: auto;
  }

.subform_content
  {
    padding: 10px;
    padding-top: 0;
    height: 500px;
    overflow: auto;
  }

.subform_top_padding
  {
    padding-top: 10px;
  }

.list_controls
  {
  }

.list_data_table
  {
    padding-bottom: 10px;
  }

.list_data_table table
  {
    max-width: 100% !important;
  }

.edit_record_table
  {
    width: 100%;
  }

.edit_record_table td
  {
    border: solid 1px #e4e4f4;
  }

.insert_record_table td
  {
    border: solid 1px #e4e4f4;
  }

/* advanced search */

.advanced_search_form_outer
  {
    position: absolute;
    left: 10px;
    width: 550px;
    top: 10px;
    bottom: 177px;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-top-color: #999999;
    border-left-color: #999999;
    border-bottom-color: #FFFFFF;
    border-right-color: #FFFFFF;
    margin-bottom: 10px;
  }

.advanced_search_results_outer
  {
    position: absolute;
    left: 570px;
    right: 10px;
    bottom: 0;
    top: 10px;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-top-color: #999999;
    border-left-color: #999999;
    border-bottom-color: #FFFFFF;
    border-right-color: #FFFFFF;
    margin-bottom: 10px;
  }

.advanced_search_help_outer
  {
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 550px;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-top-color: #999999;
    border-left-color: #999999;
    border-bottom-color: #FFFFFF;
    border-right-color: #FFFFFF;
    margin-bottom: 10px;
  }

.advanced_search_help_inner
  {
    background-color: #ffffff;
    padding: 0;
    height: 130px;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-top-color: #555555;
    border-left-color: #555555;
    border-bottom-color: #CCCCCC;
    border-right-color: #CCCCCC;
  }

#advanced_search_help_content
  {
    padding: 10px;
    background-color: white;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
  }

.advanced_search_inner
  {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fafafd;
    padding: 0;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-top-color: #555555;
    border-left-color: #555555;
    border-bottom-color: #CCCCCC;
    border-right-color: #CCCCCC;
  }

.advanced_search_form_content
  {
    padding: 10px;
    max-height: 100%;
  }

.advanced_search_results_content
  {
    padding: 10px;
    max-height: 100%;
  }

#advanced_search_form
  {
    padding-bottom: 10px;
  }

#advanced_search_results
  {
  }

#advanced_search_page_search_button
  {
    position: absolute;
    left: 10px;
    bottom: 155px;
  }

#advanced_search_page_search_button input
  {
    width: 140px;
  }

#advanced_search_form td
  {
    border: 0;
  }

.interface_button
  {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
  }

.unable_to_delete_message
  {
    font-weight: bold;
    font-size: 14px;
    color: red;
  }

.check_cross
  {
    color: red;
    font-size: 11pt;
    font-weight: bold;
  }

.check_tick
  {
    color: green;
    font-size: 13pt;
    font-weight: bold;
  }

.check_cross_override
  {
    color: red;
  }

.check_tick_override
  {
    color: green;
  }

.list_sort_link
  {
    text-decoration: none;
    cursor: pointer;
    color: #cc0033;
  }

.reset_sort_link
  {
    text-decoration: none;
    cursor: pointer;
    color: #cc0033;
  }
