
body
  {
    background-color: #eeeeee;
    color: #21292c;
  }

th
  {
    font-size: 10pt;
    font-weight: bold;
    padding: 0;
    border: 0;
    margin: 0;
    position: sticky;
    top: 0;
  }

td
  {
    font-size: 10pt;
    border: solid 1px #888;
    padding: 5px;
    min-width: 33px;
  }

.list_controls td
  {
    border: 0;
  }

.group_caption_div_first
  {
    position: relative;
    left: 142px;
    top: -1px;
    border: 1px solid #888;
    padding: 3px;
  }

.group_caption_div
  {
    position: relative;
    left: 141px;
    top: -1px;
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    padding: 3px;
  }

.list_row_check
  {
    border: 0;
    min-width: 10px;
  }

.list_row_controls
  {
    border: 0;
    text-align: right;
    padding-right: 0;
  }

.list_row_controls input
  {
    width: 70px;
  }

th.rotate
  {
    height: 165px;
    white-space: nowrap;
    vertical-align: bottom;
    text-align: left;
    /*background-color: #fdf6e3;*/
  }

.verticaltick
  {
    position: relative;
    left: 0px;
    font-size: 1px;
    height: 20px;
    width: 40px;
    border-left: 1px solid #888;
    padding: 0;
    margin: 0;
  }

.rotatediv
  {
    transform-origin: left top;
    transform: translate(-1px,0px) rotate(315deg);
  }

.rotatespan
  {
    padding: 5px;
    padding-top: 2px;
    font-size: 10pt;
    border-top: 1px solid #666;
    width: 190px;
    display: inline-block;
  }

.form_title
  {
    font-weight: bold;
    text-shadow: 0 0 4px #999999;
    font-size: 14px;
  }

#global_page_header
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #eeeeee;
    overflow: hidden;
  }

#global_page_header_content
  {
    text-align: center;
    padding: 15px;
  }

#global_page_body_outer
  {
    position: absolute;
    top: 91px;
    left: 10px;
    right: 10px;
    bottom: 31px;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-top-color: #999999;
    border-left-color: #999999;
    border-bottom-color: #FFFFFF;
    border-right-color: #FFFFFF;
  }

#global_page_body_inner
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fdf6e3;
    padding: 0;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-top-color: #555555;
    border-left-color: #555555;
    border-bottom-color: #CCCCCC;
    border-right-color: #CCCCCC;
  }

#global_page_body_content
  {
    padding: 10px;
  }

#global_page_footer
  {
    position: absolute;
    height: 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #eeeeee;
    overflow: hidden;
  }

#global_page_footer_content
  {
    padding: 5px;
    padding-left: 10px;
  }

#company_logo
  {
    height: 60px;
  }

#editor_form
  {
    float: left;
    width: 40%;
    padding-bottom: 10px;
    width: 39%;
  }

#editor_subforms
  {
    margin-left: 40%;
    margin-top: 43px;
    padding-bottom: 10px;
  }

.subform_outer
  {
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-top-color: #999999;
    border-left-color: #999999;
    border-bottom-color: #FFFFFF;
    border-right-color: #FFFFFF;
    margin-bottom: 10px;
  }

.subform_inner
  {
    background-color: #fdf6e3;
    padding: 0;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-top-color: #555555;
    border-left-color: #555555;
    border-bottom-color: #CCCCCC;
    border-right-color: #CCCCCC;
  }

.subform_content
  {
    padding: 10px;
    max-height: 500px;
  }

.list_data_table
  {
    padding-bottom: 10px;
  }

.edit_record_table
  {
    width: 100%;
  }

#advanced_search_results
  {
    margin-top: 15px;
  }

#advanced_search_form
  {
    float: left;
  }

#advanced_search_form td
  {
    border: 0;
  }

#advanced_search_help
  {
    float: right;
    margin-left: 15px;
  }

#advanced_search_help_content
  {
    min-width: 300px;
    min-height: 300px;
    background-color: white;
    margin: 0;
    padding: 10px;
    font-family: mono;
  }
