.print_only
  {
    display: initial;
  }

.screen_only
  {
    display: none;
  }

#header_links_bar
  {
    display: none;
  }

#flex_columns
  {
    display: block;
    overflow: auto;
  }

#editor_pane
  {
    max-width: 100%;
    width: 100%;
  }

#subforms
  {
    overflow: auto;
    max-width: 100%;
    width: 100%;
  }

.subform_outer
  {
    overflow: auto;
    border: 0;
  }

#global_page_body_outer
  {
    border: 0;
    overflow: visible;
  }

#global_page_body_inner
  {
    border: 0;
    overflow: visible;
  }

#global_page_body_content
  {
    padding: 0;
  }

.list_controls
  {
    display: none;
  }

.list_row_controls table
  {
    display: none;
  }

.group_caption_div_first
  {
    background-color: white;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    opacity: 1;
  }

.group_caption_div
  {
    background-color: white;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    opacity: 1;
  }

th.rotate
  {
    background-color: white;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    opacity: 1;
  }

th.list_controls_head
  {
    background-color: white;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    opacity: 1;
  }

tr[class^="list_insert_row_"]
  {
    display: none;
  }

/* advanced search */

.advanced_search_form_outer
  {
    display: none;
  }

.advanced_search_results_outer
  {
    position: initial;
    left: initial;
    right: initial;
    bottom: initial;
    top: initial;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0;
    margin: 0;
  }

.advanced_search_help_outer
  {
    display: none;
  }

.advanced_search_inner
  {
    position: initial;
    left: initial;
    right: initial;
    top: initial;
    bottom: initial;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0;
  }

.advanced_search_form_content
  {
    padding: 10px;
    max-height: 100%;
  }

.advanced_search_results_content
  {
    padding: 0;
    max-height: initial;
  }

#advanced_search_results
  {
  }

#advanced_search_page_search_button
  {
    display: none;
  }

.list_sort_link
  {
    display: none;
  }

.reset_sort_link
  {
    display: none;
  }
