.print_only
  {
    display: initial;
  }

.screen_only
  {
    display: none;
  }

#header_links_bar
  {
    display: none;
  }

#global_page_body_outer
  {
    border: 0;
    overflow: visible;
  }

#global_page_body_inner
  {
    border: 0;
    overflow: visible;
  }

#global_page_body_content
  {
    padding: 0;
  }

.list_controls
  {
    display: none;
  }

.list_row_controls table
  {
    display: none;
  }

tr[class^="list_insert_row_"]
  {
    display: none;
  }
