<b>Advanced Search Tips</b>

<ul>
  <li>all field query condition operators are "like" by default, except for check box and date fields which use = by default</li>
  <li>to override a field query condition operator, prefix your search keyword(s) with one of the following valid operators followed by a space:</li>
  <ul>
    <li>&lt;</li>
    <li>&leq;</li>
    <li>=</li>
    <li>&geq;</li>
    <li>&gt;</li>
    <li>&lt;&gt;</li>
  </ul>
  <li>can use % wildcard anywhere in your field queries</li>
  <li>use 1 or 0 for check box fields</li>
</ul>
