<b>Advanced Search Tips</b>

<div>&bull; All field query condition operators are "like" by default, except for check box and date fields which use = by default.</div>
<div>&bull; To override a field query condition operator, prefix your search keyword(s) with one of the following valid operators followed by a space:</div>
<div>&nbsp;
  <span>&lt;</span>
  <span>&leq;</span>
  <span>=</span>
  <span>&geq;</span>
  <span>&gt;</span>
  <span>&lt;&gt;</span>
</div>
<div>&bull; You can use % wildcard anywhere in your field queries.</div>
<div>&bull; Use 1 or 0 for check box field values.</div>
<div>&bull; Enter "= " to search for empty text.</div>
<div>&bull; Enter "&lt;&gt; " to search for non-empty text.</div>
