<script type="text/javascript">
var initial_calendar_inputs=[%%calendar_inputs%%];
var calendar_inputs=[%%calendar_inputs%%];
</script>

<link rel="stylesheet" property="stylesheet" href="$$webdb_web_resources$$calendar.css?mod=%%calendar_styles_modified%%">
<script type="text/javascript" src="$$webdb_web_resources$$calendar.js?mod=%%calendar_script_modified%%"></script>

<div id="app_date_format" style="display: none;">%%app_date_format%%</div>

<div id="calendar_div">
  <table>
    <thead>
    <tr>
      <td><input type="button" value="&#9664;" id="calendar_previous_month_link" onclick="" title=""></td>
      <td colspan="5">
        <select id="calendar_month_select" onchange="">
          <option value="0">January</option>
          <option value="1">February</option>
          <option value="2">March</option>
          <option value="3">April</option>
          <option value="4">May</option>
          <option value="5">June</option>
          <option value="6">July</option>
          <option value="7">August</option>
          <option value="8">September</option>
          <option value="9">October</option>
          <option value="10">November</option>
          <option value="11">December</option>
        </select>
        <select id="calendar_year_select" onchange=""></select>
      </td>
      <td><input type="button" value="&#9654;" id="calendar_next_month_link" onclick="" title=""></td>
    </tr>
    <tr>
      <td class="dayheading">Sun</td>
      <td class="dayheading">Mon</td>
      <td class="dayheading">Tue</td>
      <td class="dayheading">Wed</td>
      <td class="dayheading">Thu</td>
      <td class="dayheading">Fri</td>
      <td class="dayheading">Sat</td>
    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    <!-- following empty row is a chrome colspan bug workaround -->
    <tr>
      <td class="workaround"></td>
      <td class="workaround"></td>
      <td class="workaround"></td>
      <td class="workaround"></td>
      <td class="workaround"></td>
      <td class="workaround"></td>
      <td class="workaround"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="button" value="Clear" onclick="calendar_clear_input();"></td>
      <td colspan="3"><input type="button" value="Today" onclick="calendar_select_today();"></td>
      <td colspan="2"><input type="button" value="Cancel" onclick="hide_calendar();"></td>
    </tr>
    </tfoot>
  </table>
</div> <!-- calendar_div -->
