<script type="text/javascript">
var insert_row_controls=new Array();
var edit_row_controls=new Array();
var edit_row_url_page=null;
var edit_row_id=null;
var insert_row_parents=new Array();
var waiting_edit_row_element=null;
</script>

<div id="top_level_url_page">%%url_page%%</div>

<script type="text/javascript" src="$$webdb_web_resources$$list.js?mod=%%form_script_modified%%"></script>
<link rel="stylesheet" property="stylesheet" href="$$webdb_web_resources$$list.css?mod=%%form_styles_modified%%">

<div id="global_page_header">
<div id="global_page_header_content">
<div id="header_title">Edit %%command_caption_noun%%</div>
<div id="header_links_bar">@@$$links_template$$@@</div>
<a href="$$app_web_index$$"><img id="company_logo" src="$$app_web_resources$$$$app_logo_filename$$" alt=""></a>
</div>
</div>

<div id="global_page_body_outer">
<div id="global_page_body_inner">
<div id="global_page_body_content">

<div id="editor_form">
%%record_edit_form%%
</div>

<div id="editor_subforms">
%%subforms%%
</div>

</div>
</div>
</div>

<div id="global_page_footer">
<div id="footer_info_bar">@@$$footer_template$$@@</div>
<div id="global_page_footer_content">
</div>
</div>
