<form id="%%page_id%%" action="$$app_web_index$$?page=%%edit_cmd_page_id%%&cmd=edit&id=%%edit_cmd_id%%" method="post" enctype="multipart/form-data">

%%custom_form_above%%

<input type="hidden" name="csrf_token" value="%%csrf_token%%">
<input type="hidden" name="MAX_FILE_SIZE" value="41943040"> <!-- 40 Mb -->

<div style="display: none;">
%%hidden_fields%%
</div>

<div class="edit_form_controls">
  <input type="submit" name="form_cmd[edit_confirm][%%edit_cmd_id%%]" value="%%confirm_caption%%">
  <span class="update_status" id="update_status:%%page_id%%">UPDATED RECORD SUCCESSFULLY</span>
</div>

%%edit_table%%

%%custom_form_below%%

</form>
