<script type="text/javascript">
var insert_row_controls=new Array();
var edit_row_controls=new Array();
var edit_row_page_id=null;
var edit_row_id=null;
var insert_row_parents=new Array();
var waiting_edit_row_element=null;
</script>

<div id="top_level_page_id">%%page_id%%</div>

<script type="text/javascript" src="$$webdb_web_resources$$list.js?mod=%%form_script_modified%%"></script>
<link rel="stylesheet" property="stylesheet" href="$$webdb_web_resources$$list.css?mod=%%form_styles_modified%%">

<div id="global_page_header">
<div id="global_page_header_content">
<div id="header_title">%%command%% %%command_caption_noun%%</div>
<div id="header_links_bar">@@$$links_template$$@@</div>
<a href="$$app_web_index$$"><img id="company_logo" src="$$app_web_resources$$$$app_logo_filename$$" alt=""></a>
</div>
</div>

<div id="global_page_body_outer" class="global_page_body_outer">
<div id="global_page_body_inner">
<div id="global_page_body_content">

<form id="%%page_id%%" class="%%page_id%%" action="$$app_web_index$$?page=%%page_id%%&cmd=%%cmd%%%%id_url_param%%" method="post" enctype="multipart/form-data">

<input type="hidden" name="csrf_token" value="%%csrf_token%%">
<input type="hidden" name="MAX_FILE_SIZE" value="41943040"> <!-- 40 Mb -->

<div style="display: none;">
%%hidden_fields%%
</div>

%%custom_form_above%%

<div class="edit_form_controls">
  <input type="submit" name="form_cmd[%%cmd%%_confirm]%%id_cmd_name%%" value="%%confirm_caption%%">
  <span class="confirm_status" id="confirm_status:%%page_id%%"></span>
</div>

%%field_table%%

<div id="subforms" class="subforms">
%%subforms%%
</div>

%%custom_form_below%%

</form>

</div>
</div>
</div>

<div id="global_page_footer">
<div id="footer_info_bar">@@$$footer_template$$@@</div>
<div id="global_page_footer_content">
</div>
</div>
