<script type="text/javascript">
var insert_row_controls=new Array();
var edit_row_controls=new Array();
var edit_row_page_id=null;
var edit_row_id=null;
var waiting_edit_row_element=null;
</script>

<div id="parent_id">%%id%%</div>
<div id="parent_form">%%page_id%%</div>

@@data_page_head@@

%%chat%%

<form id="%%page_id%%" class="%%page_id%%" action="$$app_web_index$$?page=%%page_id%%&cmd=%%cmd%%%%id_url_param%%" method="post" enctype="multipart/form-data">

<input type="hidden" name="csrf_token" value="%%csrf_token%%">
<input type="hidden" name="MAX_FILE_SIZE" value="41943040"> <!-- 40 Mb -->

<div style="display: none;">
%%hidden_fields%%
</div>

%%custom_form_above%%

<div id="flex_columns">

<div id="editor_pane">
%%edit_form_controls%%
%%field_table%%
</div>

<div id="subforms" class="subforms">
%%subforms%%
</div>

</div>

%%custom_form_below%%

</form>

@@data_page_foot@@
