<div class="file_field_value" id="%%page_id%%:edit_control:%%primary_key%%:%%field_name%%">%%field_value%%</div>
<div class="file_field_controls">
<input type="button" value="View" onclick="file_field_view('%%page_id%%','%%page_id%%:edit_control:%%primary_key%%:%%field_name%%','%%field_value%%'); return false;" %%no_file_disabled%%>
<input type="button" value="Delete" onclick="file_field_delete('%%page_id%%','%%page_id%%:edit_control:%%primary_key%%:%%field_name%%','%%field_value%%'); return false;" %%no_file_disabled%%>
</div>
<div class="file_field_chooser">
<input style="%%control_style%%" type="file" name="%%page_id%%:edit_control:%%primary_key%%:%%field_name%%" %%disabled%% %%js_events%%>
</div>
