<form id="%%page_id%%" action="$$app_web_index$$?page=%%page_id%%" method="post" enctype="multipart/form-data">

%%custom_form_above%%

<input type="hidden" name="csrf_token" value="%%csrf_token%%">
<input type="hidden" name="MAX_FILE_SIZE" value="41943040"> <!-- 40 Mb -->

<div style="display: none;">
%%hidden_fields%%
</div>

<div class="edit_form_controls">
  <input type="submit" name="form_cmd[insert_confirm]" value="%%confirm_caption%%">
</div>

%%insert_table%%

%%custom_form_below%%

</form>
