
<script type="text/javascript" src="$$webdb_web_resources$$list.js?mod=%%form_script_modified%%"></script>
<link rel="stylesheet" property="stylesheet" href="$$webdb_web_resources$$list.css?mod=%%form_styles_modified%%">

<div id="global_page_header">
<div id="global_page_header_content">
<img id="company_logo" src="$$app_web_resources$$logo.png" alt="">
</div>
</div>

<div id="global_page_body_outer">
<div id="global_page_body_inner">
<div id="global_page_body_content">

%%list%%

<p><a href="$$app_web_index$$">Home</a></p>

</div>
</div>
</div>

<div id="global_page_footer">
<div id="global_page_footer_content">
</div>
</div>
