<tr class="list_insert_row_%%url_page%%">
%%check%%
%%fields%%
<td class="list_row_controls" style="border: 0; margin-left: 1px; border-left: %%last_group_border_width%%px solid #%%last_group_border_color%%; min-width: %%controls_min_width%%px;">

<div style="display: none;">
%%hidden_fields%%
</div>

  <table><tr>
    <td class="list_row_controls">
      <input type="button" value="Insert" onclick="list_insert_row_click(this.form,'%%url_page%%'); return false;">
    </td>
  </tr></table>
</td>
</tr>
