<th class="rotate" style="height: %%rotate_height%%px; z-index: %%z_index%%; border-bottom: %%rotate_bottom_border%%px solid #888;">
  <div class="verticaltick_left" style="border-left-width: %%left_border_width%%px; border-left-color: #%%left_border_color%%; left: %%border_left%%px;">
    <div class="rotatediv" style="transform: translate(-%%rotate_div_translate%%px,0px) rotate(315deg);">
      <span class="rotatespan" style="border-top-width: %%rotate_border_width%%px; border-top-color: #%%rotate_border_color%%; width: %%rotate_span_width%%px;">
        %%field_name%%
      </span>
    </div>
  </div>
  <div class="verticaltick_right" style="border-right: %%right_border_width%%px #%%right_border_color%% solid; right: %%border_right%%px;"></div>
</th>
