<script type="text/javascript">
insert_row_controls['%%page_id%%']=[%%insert_row_controls%%];
edit_row_controls['%%page_id%%']=new Array();
insert_row_parents['%%page_id%%']=document.currentScript.parentElement;
</script>

%%custom_form_above%%

<input type="hidden" id="inline_edit_page:%%page_id%%" name="inline_edit_page:%%page_id%%" value="$$app_web_index$$?page=%%page_id%%&cmd=edit&id=">
<input type="hidden" id="edit_page:%%page_id%%" name="edit_page:%%page_id%%" value="$$app_web_index$$?page=%%edit_cmd_page_id%%&cmd=edit&id=">
<input type="hidden" id="insert_page:%%page_id%%" name="insert_page:%%page_id%%" value="$$app_web_index$$?page=%%insert_cmd_page_id%%%%redirect%%&cmd=insert%%insert_default_params%%">
<input type="hidden" id="row_insert_page:%%page_id%%" name="insert_page:%%page_id%%" value="$$app_web_index$$?page=%%page_id%%%%redirect%%&cmd=insert%%insert_default_params%%">
<input type="hidden" id="advanced_search_page:%%page_id%%" name="advanced_search_page:%%page_id%%" value="$$app_web_index$$?page=%%page_id%%&cmd=advanced_search">

<input type="hidden" id="ajax_edit_page:%%page_id%%" name="ajax_edit_page:%%page_id%%" value="$$app_web_index$$?page=%%page_id%%&cmd=edit&id=">

<input type="hidden" id="parent_id:%%page_id%%" name="parent_id:%%page_id%%" value="%%parent_id%%">
<input type="hidden" id="parent_form:%%page_id%%" name="parent_form:%%page_id%%" value="%%parent_form_page_id%%">

<div id="row_edit_mode:%%page_id%%" style="display: none;">%%row_edit_mode%%</div>

<div class="list_controls">
<table>
  <tr>
    %%insert_control%%
    %%delete_selected_control%%
    %%advanced_search_control%%
    %%sort_field_control%%
    %%checklist_update_control%%
  </tr>
</table>
</div>

<div class="list_data_table">

<table>
<thead>
%%caption_groups%%
<tr>
  %%check_head%%
  %%field_headers%%
  <th class="list_controls_head" colspan="%%controls_count%%">&nbsp;</th>
</tr>
</thead>
<tbody>
%%rows%%
</tbody>
</table>

</div>

%%custom_form_below%%
