<td id="data_cell:%%page_id%%:%%primary_key%%:%%field_name%%" data-original_style="" style="border-right: %%border_right_width%%px; border-right-color: #%%border_right_color%%; border-left-width: %%border_width%%px; border-left-color: #%%border_color%%; text-align: center; %%table_cell_style%%; %%group_span_style%%" %%handlers%%>
<div class="list_field_content">
%%value%%
<div class="screen_only">
  <input type="button" value="View" onclick="file_field_view(event,'%%page_id%%','%%page_id%%:edit_control:%%primary_key%%:%%field_name_basic%%','%%value%%'); return false;" %%no_file_disabled%%>
</div>
</div>
</td>
