<script type="text/javascript" src="$$webdb_web_resources$$list.js?mod=%%form_script_modified%%"></script>
<link rel="stylesheet" property="stylesheet" href="$$webdb_web_resources$$list.css?mod=%%form_styles_modified%%">
%%firefox_styles%%

<form action="@@forms/page_url@@" method="post">

<input type="hidden" id="detail_page:%%url_page%%" name="detail_page:%%url_page%%" value="$$app_web_index$$?page=%%detail_page%%&id=">

<table>
%%caption_groups%%
<tr>
  %%check_head%%
  %%field_headers%%
  <th colspan="%%controls_count%%">&nbsp;</th>
</tr>
%%rows%%
</table>
%%insert_control%%
%%delete_selected_control%%

</form>

<p><a href="$$app_web_index$$">Home</a></p>
