<script type="text/javascript" src="$$webdb_web_resources$$list.js?mod=%%form_script_modified%%"></script>
<link rel="stylesheet" property="stylesheet" href="$$webdb_web_resources$$list.css?mod=%%form_styles_modified%%">

<div id="global_page_header">
<div id="global_page_header_content">
<div id="header_title">Delete Selected %%command_caption_noun%%(s)</div>
<div id="header_links_bar">@@$$links_template$$@@</div>
<a href="$$app_web_index$$"><img id="company_logo" src="$$app_web_resources$$$$app_logo_filename$$" alt=""></a>
</div>
</div>

<div id="global_page_body_outer">
<div id="global_page_body_inner">
<div id="global_page_body_content">

<form action="$$app_web_index$$?page=%%url_page%%%%redirect%%" method="post">

%%hidden_id_fields%%

<div class="edit_form_controls">
%%delete_all_button%%
</div>

</form>

%%records%%

</div>
</div>
</div>

<div id="global_page_footer">
<div id="footer_info_bar">@@$$footer_template$$@@</div>
<div id="global_page_footer_content">
</div>
</div>
