<script type="text/javascript" src="$$webdb_web_resources$$list.js?mod=%%form_script_modified%%"></script>
<link rel="stylesheet" property="stylesheet" href="$$webdb_web_resources$$list.css?mod=%%form_styles_modified%%">
<link rel="stylesheet" property="stylesheet" href="$$webdb_web_resources$$list_print.css?mod=%%form_styles_print_modified%%" media="print">

<div class="page-header">
  <div class="page-header-inside">

<div class="report_header_title">%%title%%</div>

<img class="report_company_logo" src="$$app_web_resources$$$$app_logo_filename$$" alt="">

  </div>
</div>

<div class="page-footer">
  <div class="page-footer-inside">

<div class="report_footer_notice">
$$report_proprietary_notice$$
</div>

  </div>
</div>

<table>
  <thead>
    <tr>
      <td>
        <div class="page-header-space"></div>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="page">

<!-- START CONTENT -->

<div class="report_content">

%%list%%

</div>

<!-- END CONTENT -->

        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <div class="page-footer-space"></div>
      </td>
    </tr>
  </tfoot>
</table>
