
/************************************************************************/

#chat_button
  {
    position: fixed;
    bottom: 6px;
    right: calc(50% - 75px);
    z-index: 99;
    width: 150px;
    height: 22px;
  }

/************************************************************************/

#chat_background
  {
    position: fixed;
    width: 100%;
    height: 100%;
    border: 0;
    top: 0;
    left: 0;
    display: none;
    background: rgba(70,70,70,0.5);
    z-index: 99999;
  }

.chat_dialog
  {
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    border: solid 1px #555599;
    -webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.67);
    -moz-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.67);
    box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.67);
    overflow: hidden;
    background-color: #f7eaed;
  }

/************************************************************************/

.chat_content
  {
    padding: 0;
    margin: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 13px;
    color: #0a4b5c;
    font-family: "Courier New", Courier, monospace;
  }

.chat_content table
  {
    empty-cells: show;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  }

.chat_content th
  {
    font-size: 13px;
    font-weight: bold;
    border: none;
    height: 10px;
    padding: 2px;
    padding-left: 5px;
    position: sticky;
    top: 0;
    color: #073642;
    text-align: left;
    line-height: 16px;
    background-color: rgba(207,213,213,0.8);
    border-bottom: 1px solid #586e75;
  }

/************************************************************************/

#upper_panel
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
  }

#channel_info
  {
    flex-grow: 1;
  }

#control_panel
  {
    width: 320px;
    text-align: right;
    padding: 0;
  }

#control_panel input
  {
    width: 110px;
    height: 24px;
  }

#update_status_2
  {
    visibility: hidden;
    color: green;
  }

/************************************************************************/

#update_status_1
  {
    position: fixed;
    bottom: 6px;
    left: calc(50% + 75px);
    z-index: 99;
    height: 22px;
    line-height: 22px;
    visibility: hidden;
    color: green;
    margin-left: 10px;
    font-size: 11px;
    font-family: "Courier New", Courier, monospace;
  }

/************************************************************************/

#messages_scroll
  {
    position: absolute;
    top: 25px;
    bottom: 30px;
    left: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: scroll;
    font-size: 13px;
    padding: 0;
    background-color: #fdf6e3;
    border: 1px solid #586e75;
  }

#messages_content
  {
    overflow-anchor: none; /* need at least Firefox 66 or Chrome 51 */
  }

#messages_anchor
  {
    overflow-anchor: auto; /* need at least Firefox 66 or Chrome 51 */
    height: 1px;
  }

/************************************************************************/

#message_inputs
  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-between;
  }

#message_input_div
  {
    flex-grow: 1;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-between;
  }

#message_input
  {
    flex-grow: 1;
    height: 22px;
    padding: 0;
    border: 1px solid #777;
    margin: 0;
    line-height: 22px;
    font-family: "Courier New", Courier, monospace;
  }

#message_input_buttons
  {
    padding: 0;
    width: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-between;
  }

#message_input_buttons input
  {
    width: 120px;
    height: 24px;
    margin-left: 5px;
  }

/************************************************************************/

#message_th_time
  {
    border-right: 1px solid #586e75;
  }

#message_th_nick
  {
    border-right: 1px solid #586e75;
  }

#message_th_message
  {
  }

/************************************************************************/

.message_td_time
  {
    font-size: 13px;
    border: none;
    height: 10px;
    padding: 2px;
    line-height: 16px;
    padding-left: 5px;
    vertical-align: top;
    width: 1px;
    white-space: nowrap;
    padding-right: 5px;
    border-right: 1px solid #bdc9cd;
  }

.message_td_nick
  {
    font-size: 13px;
    text-align: right;
    border: none;
    height: 10px;
    padding: 2px;
    line-height: 16px;
    padding-right: 5px;
    vertical-align: top;
    width: 1px;
    white-space: nowrap;
    padding-left: 5px;
    border-right: 1px solid #bdc9cd;
  }

.message_td_message
  {
    font-size: 13px;
    border: none;
    height: 10px;
    padding: 2px;
    line-height: 16px;
    padding-left: 5px;
    vertical-align: top;
  }

/************************************************************************/

.message_break_td_time
  {
    font-size: 13px;
    border: none;
    height: 10px;
    padding: 2px;
    line-height: 16px;
    padding-left: 5px;
    vertical-align: top;
    width: 1px;
    white-space: nowrap;
    padding-right: 5px;
    border-right: 1px solid #bdc9cd;
    border-bottom: 1px solid #bdc9cd;
  }

.message_break_td_nick
  {
    font-size: 13px;
    text-align: right;
    border: none;
    height: 10px;
    padding: 2px;
    line-height: 16px;
    padding-right: 5px;
    vertical-align: top;
    width: 1px;
    white-space: nowrap;
    padding-left: 5px;
    border-right: 1px solid #bdc9cd;
    border-bottom: 1px solid #bdc9cd;
  }

.message_break_td_message
  {
    font-size: 13px;
    border: none;
    height: 10px;
    padding: 2px;
    line-height: 16px;
    padding-left: 5px;
    vertical-align: top;
    border-bottom: 1px solid #bdc9cd;
  }

/************************************************************************/

.message_notice_td_time
  {
    font-size: 13px;
    font-style: italic;
    border: none;
    height: 10px;
    padding: 2px;
    line-height: 16px;
    padding-left: 5px;
    vertical-align: top;
    width: 1px;
    white-space: nowrap;
    padding-right: 5px;
    border-right: 1px solid #bdc9cd;
    color: #117f9c;
  }

.message_notice_td_nick
  {
    font-size: 13px;
    font-style: italic;
    text-align: right;
    border: none;
    height: 10px;
    padding: 2px;
    line-height: 16px;
    padding-right: 5px;
    vertical-align: top;
    width: 1px;
    white-space: nowrap;
    padding-left: 5px;
    border-right: 1px solid #bdc9cd;
    color: #117f9c;
  }

.message_notice_td_message
  {
    font-size: 13px;
    font-style: italic;
    border: none;
    height: 10px;
    padding: 2px;
    line-height: 16px;
    padding-left: 5px;
    vertical-align: top;
    color: #117f9c;
  }

/************************************************************************/
