<input type="button" id="chat_button" value="chat" onclick="open_chat('%%page_id%%','%%id%%'); return false;">

<script type="text/javascript">
var ajax_url_update="$$app_web_index$$?page=%%page_id%%&cmd=edit&id=%%id%%&ajax=chat_update";
var update_interval_seconds=$$chat_update_interval_sec$$;
</script>

<div id="chat_background">
  <div class="chat_dialog">
    <div class="chat_content">
      <div id="upper_panel">
        <div id="channel_info">
          <div>Selected Channel: <span id="channel_name"></span></div>
          <div>Topic: <span id="channel_topic"></span></div>
        </div>
        <div id="control_panel">
          <span id="update_status">updating</span>
        </div>
      </div>
      <div id="messages_scroll">
        <div id="messages_content">
          <table id="messages_table">
            <tr>
              <th id="message_th_time">timestamp</th>
              <th id="message_th_nick">nick</th>
              <th id="message_th_message">message</th>
            </tr>
          </table>
        </div>
        <div id="messages_anchor"></div>
      </div>
      <div id="message_inputs">
        <div id="message_input_div">
          <input id="message_input" type="text" value="" onkeydown="return message_input_keydown(event);" disabled>
        </div>
        <div id="message_input_buttons">
          <input id="message_input_button" type="button" value="send" onclick="message_send(); return false;" disabled>
          <input type="button" value="close" onclick="close_chat(); return false;">
        </div>
      </div>
    </div>
  </div>
</div>
