@@wiki/common@@

<div class="wiki_top_white_box"></div>
<div class="wiki_top_fade_box"></div>

<div class="wiki_article_title">%%title%%</div>
<div class="wiki_content_box">%%content%%</div>

<div class="wiki_article_view_control_box">
  <div class="wiki_link_divider"></div>
  <a href="$$app_web_index$$?page=wiki">Home</a>
  <div class="wiki_link_divider"></div>
  <a href="$$app_web_index$$?page=wiki&cmd=edit&article=">New Article</a>
  <div class="wiki_link_divider"></div>
  <a href="$$app_web_index$$?page=wiki&cmd=edit&article=%%url_title%%">Edit Article</a>
  <div class="wiki_link_divider"></div>
  <a href="$$app_web_index$$?page=wiki&cmd=edit&file=">New File</a>
  <div class="wiki_link_divider"></div>
</div>

<div class="wiki_footer_alert">UNCONTROLLED - INFORMATION ONLY</div>
<div class="wiki_footer_user">logged in as <span class="logged_in_user">$$logged_in_username$$</span></div>
