Editing wiki articles

When editing, you can just type text into the article content box as you would normally into a word processor.

Wiki content editing is based on [https://meta.wikimedia.org/wiki/Help:Wikitext_examples MediaWiki's Wikitext].

<code>
&lt;code&gt;&lt;/code&gt;
</code>

<code>
&lt;nowiki&gt;&lt;/nowiki&gt;
</code>

<code>
[[Article Title]]
</code>

<code>
[[Article Title|Link Caption]]
</code>

<code>
[http://somedomain.com/]
</code>

<code>
[http://somedomain.com/ Link Caption]
</code>
