<script type="text/javascript" src="$$webdb_web_resources$$login.js?mod=%%login_script_modified%%"></script>
<link rel="stylesheet" property="stylesheet" href="$$webdb_web_resources$$login.css?mod=%%login_styles_modified%%">

<div id="login_background">
<div id="change_password_dialog">
<div id="change_password_content">

<p>Change Password</p>

<form action="$$app_web_index$$?change_password" method="post">

<input type="hidden" name="csrf_token" value="%%csrf_token%%">
<input type="hidden" name="login_username" value="%%login_username%%">

<table>
<tr style="display: %%old_password_display%%;">
  <td>
    Old Password
  </td>
  <td>
    <input type="password" id="change_password_old" name="change_password_old" value="%%old_password_default%%" onkeypress="login_check_caps(event); return true;">
  </td>
</tr>
<tr>
  <td>
    New Password
  </td>
  <td>
    <input type="password" id="change_password_new" name="change_password_new" value="" onkeypress="login_check_caps(event); return true;">
  </td>
</tr>
<tr>
  <td>
    Confirm New Password
  </td>
  <td>
    <input type="password" id="change_password_new_confirm" name="change_password_new_confirm" value="" onkeypress="login_check_caps(event); return true;">
  </td>
</tr>
</table>

<p><input type="checkbox" id="show_password_check" onclick="login_show_password('change_password_old'); login_show_password('change_password_new'); login_show_password('change_password_new_confirm'); return true;"> show password</p>

<p><div style="color: red; font-weight: bold; visibility: hidden;" id="caps_lock_warning">CAPS LOCK IS ON</div></p>

<p><input type="submit" name="change_password" value="Change Password"></p>

<p><a href="$$app_web_index$$">Home</a></p>

</form>

</div>
</div>
</div>
