<script type="text/javascript" src="$$webdb_web_resources$$login.js?mod=%%login_script_modified%%"></script>

<form action="$$app_web_index$$?page=change_password" method="post">

<p><input type="password" id="change_password_old" name="change_password_old" value="%%old_password_default%%" onkeypress="rcheck_caps_lock_state(event); return true;"></p>
<p><input type="password" id="change_password_new" name="change_password_new" value="" onkeypress="check_caps_lock_state(event); return true;"></p>
<p><input type="password" id="change_password_new_confirm" name="change_password_new_confirm" value="" onkeypress="check_caps_lock_state(event); return true;"></p>

<p><input type="checkbox" id="show_password_check" onclick="login_show_password('change_password_old'); login_show_password('change_password_new'); login_show_password('change_password_new_confirm'); return true;"> show password</p>

<p><div style="color: red; font-weight: bold; visibility: hidden;" id="caps_lock_warning">CAPS LOCK IS ON</div></p>

<p><input type="submit" name="change_password" value="Change Password"></p>

</form>
