<script type="text/javascript" src="$$webdb_web_resources$$login.js?mod=%%login_script_modified%%"></script>
<link rel="stylesheet" property="stylesheet" href="$$webdb_web_resources$$login.css?mod=%%login_styles_modified%%">

%%welcome_tip%%

%%login_notice%%

<div id="login_dialog">
<div id="login_content">

<p class="login_title">$$app_name$$</p>


<form action="$$app_web_index$$" method="post">

<input type="hidden" name="csrf_token" value="%%csrf_token%%">

<input type="hidden" name="target_url" value="%%target_url%%">

<p>Username<br><input type="text" name="login_username" value="%%default_username%%"></p>
<p>Password<br><input type="password" id="login_password" name="login_password" value="" onkeypress="return login_password_keypress(event);"></p>


<p><span style="color: red; font-weight: bold; visibility: hidden;" id="caps_lock_warning">CAPS LOCK IS ON</span></p>


<p><input id="login_submit" style="font-weight: bold;" type="submit" value="LOGIN"></p>
<p><input style="font-size: 9pt;" type="submit" name="send_reset_password" value="Reset Password" disabled></p>
<!-- PASSWORD RESET BUTTON DISABLED TILL EMAIL FUNCTIONALITY INCORPORATED -->

<p><input type="checkbox" id="show_password_check" onclick="login_show_password(); return true;"> show password</p>

</form>

</div>
</div>
