<!DOCTYPE html>
<html>
<head>
  <title>%%page_title%%</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  @@favicon@@
  <link rel="stylesheet" type="text/css" href="$$webdb_web_resources$$global.css?mod=%%global_styles_modified%%">
  %%additional_head_html%%
</head>
<body>

<script type="text/javascript">
var oul_update_interval=$$online_user_list_update_interval_sec$$;
</script>

%%header%%

%%calendar%%

<div id="page_lock_status"></div>

<div id="app_name" style="display: none;">%%app_name%%</div>

<div id="csrf_token" style="display: none;">%%csrf_token%%</div>

<div id="reload_after_alert" style="display: none;">0</div>

<div id="custom_alert_background">
  <div class="custom_alert_outside">
    <div class="custom_alert_inside">
      <div class="custom_alert">
        <div id="custom_alert_message"></div>
        <div class="custom_alert_controls_div">
          <input type="button" value="OK" onclick="custom_alert_close(); return false;">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="file_delete_confirm_background">
  <div class="file_delete_confirm_dialog">
    <div class="file_delete_confirm">
      <div>Are you sure you want to delete the following <span id="file_delete_confirm_noun"></span> file from the server?</div>
      <div id="file_delete_confirm_page_id"></div>
      <div id="file_delete_confirm_field_name"></div>
      <div class="file_field_value" id="file_delete_confirm_filename"></div>
      <div class="file_delete_confirm_controls_div">
        <input type="button" value="Confirm" onclick="file_delete_confirm(); return false;">
        <input type="button" value="Cancel" onclick="file_delete_cancel(); return false;">
      </div>
    </div>
  </div>
</div>

%%authenticated_status%%

%%body_text%%

<script type="text/javascript" src="$$webdb_web_resources$$global.js?mod=%%global_script_modified%%"></script>
%%page_links_css%%
%%page_links_js%%
</body>
</html>
