<!DOCTYPE html>
<html>
<head>
  <title>%%page_title%%</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  @@favicon@@
  <link rel="stylesheet" type="text/css" href="$$webdb_web_resources$$global.css?mod=%%global_styles_modified%%">
</head>
<body>

%%header%%

%%calendar%%

<div id="csrf_token" style="display: none;">%%csrf_token%%</div>

<div id="custom_alert_background">
  <div class="custom_alert_outside">
    <div class="custom_alert_inside">
      <div class="custom_alert">
        <div id="custom_alert_message"></div>
        <div class="custom_alert_controls_div">
          <input type="button" value="OK" onclick="custom_alert_close(); return false;">
        </div>
      </div>
    </div>
  </div>
</div>

%%authenticated_status%%

%%body_text%%

<script type="text/javascript" src="$$webdb_web_resources$$global.js?mod=%%global_script_modified%%"></script>
%%page_links_css%%
%%page_links_js%%
</body>
</html>
<!--
                              _ _ _ _
                            /        /
                           /  Duck  /
                          /_ _ _ _ /
                        /\
                       |ee|
                       |{}|
        _______________/^^\________________
       /               |  |                \
      /========--------.  .---------========\
                       ||||
                        ||
                        ||
                        ||
                        ||
                    ,---||---,
                    '---<>---'
       -->
